.wrapper {
 background-color:#E5E5E5;
}
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
.paginatorItem {
  display: flex;
  justify-content: center;
  margin-bottom: 14px;
}
